body {
  font-family: "Montserrat";
  margin: 0 auto;
  margin: 30px;
}
button,
input,
select,
textarea {
  margin: 5px;
  border-radius: 37px;
  border-color: #d3e0ea;
  font-size: 10px;
  line-height: unset;
  background: #d3e0ea;
}
h1 {
  color: black;
  font-size: 15px;
  margin-block-start: -5em;
  margin-block-end: 0.5em;
  margin-inline-start: 1px;
  margin-inline-end: 1px;
  font-weight: lighter;
}
h2 {
  margin-bottom: -29px;
  margin-top: 57px;
  padding: 0px;
  color: black;
}
h3 {
  list-style-type: none;
  font-size: 7px;
  margin-top: 15px;
  margin-left: 0px;
  text-transform: capitalize;
  padding-left: 5px;
  color: black;
}
h1,
h4 {
  line-height: unset;
}
a {
  font-size: 15px;
  margin-top: 10px;
  color: #c97c80;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 5px;
  font-size: 10px;
  margin-top: -17px;
  margin-left: 0px;
  color: black;
}
img {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 12px 10px;
  border-radius: 190px;
  margin-top: 25px;
  margin-right: 10px;
}
footer {
  font-size: 10px;
  text-align: left;
  padding: 17px;
}
span {
  position: relative;
  font-size: 15px;
}
sup {
  position: relative;
}
.container {
  max-width: 800px;
  margin-top: 20px;
}
.city {
  font-size: 47px;
  font-weight: 200;
  color: black;
}
.row {
  margin: 0px;
  margin-top: -25px;
  margin-bottom: 5px;
  font-weight: 270;
  text-align: center;
  color: black;
}
.col-4 {
  color: black;
  margin-top: -10px;
  text-align: left;
  margin-left: 15px;
}
.live-date {
  font-size: 15px;
  padding: 0;
  font-weight: lighter;
  padding: 5px;
  color: black;
}
.description {
  margin-top: 20px;
  margin-bottom: -10px;
  font-size: 17px;
  font-weight: lighter;
  color: black;
}
.weather-forecast {
  font-weight: bolder;
  margin: 0 auto;
  padding: 20px;
}
.weather-forecast-temperatures {
  font-size: 15px;
  color: black;
}
.weather-forecast-temperature-min {
  opacity: 0.3;
  color: black;
}
.weather-forecast-date {
  font-size: 15px;
  color: black;
}
.temperature {
  font-size: 60px;
  color: black;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.units {
  position: relative;
  top: -30px;
  color: #d3e0ea;
  font-size: 15px;
}
.extraInf {
  font-size: 10px;
  color: black;
}
.col-md-auto {
  font-size: 10px;
  font-weight: 200;
  padding-bottom: 10px;
}
.weather-app-wrapper {
  background: #aec9dd;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
.weather-app {
  position: relative;
  margin-top: 10px;
  padding: 10px 10px;
  z-index: 2;
}
.days {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 55px;
  margin-bottom: 5px;
}
.footer {
  font-size: 10px;
  font-weight: 500;
  color: #c97c80;
}
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}
